* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}

header.sticky {
    background: rgba(255, 255, 255, 1);
}

header:hover {
    background: rgba(255, 255, 255, 1);
}

.logo {
    flex: 1;
    cursor: pointer;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 12px;
    position: relative;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 25px;
}

.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
}

.menu>li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}

.others>li {
    padding: 0 12px;
    position: relative;
}

.others>li::after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.others>li:last-child::after {
    display: none;
}

.others>li:first-child {
    position: relative;
}

.others>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
}

.others>li:first-child i {
    position: absolute;
    right: 10px;
}


/* SLIDER */

#Slider {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
    cursor: pointer;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}


/* END HEADER */


/* PRODUCTS  HOT*/

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding-left: 60px;
    display: -webkit-box;
    overflow-x: auto;
    scroll-behavior: smooth;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    width: 250px;
    height: 500px;
    margin-right: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-image {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}


/* END PRODUCT HOT */


/* PRODUCTS  */

.main {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.align-center {
    width: 100%;
    margin-top: 15px;
    float: left;
}

.row1 {
    display: -webkit-box;
    overflow: auto;
    scroll-behavior: smooth;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.row1::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.col-33 {
    width: 20%;
    text-align: center;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col-33:hover {
    background-color: rgb(237, 231, 231);
}

.col-33 a {
    color: black;
}

.col-33 img {
    margin-right: 81px;
    width: 100%;
    height: 200px;
}

.col-33 img:hover {
    transition: 0.5s;
    transform: matrix3d();
}

.product-image img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}


/* END PRODUCT */


/* FOOTER */

footer {
    text-align: center;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-center {
    text-align: center;
}

.footer-bottom {
    padding: 7px;
    text-align: center;
    background-color: rgb(193, 184, 184);
}